@import url('https://fonts.cdnfonts.com/css/burger-free');

@import "tailwindcss";

body {
  background-color: #1b1823;
  font-family: "Burger Free", sans-serif;
  background-image: url("./assets/matbg.webp");
  background-size: cover;
  background-position: top;
  background-repeat: repeat;
}

.bodyground {
  background-image: url("./assets/herobg.png");
}

.bodyguide {
  background-image: url("./assets/brthinbgy.png");
  background-size: cover;
  background-position: top;
  background-repeat: repeat;
}